@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Merriweather");
/*-----------------------------------------*/
/*サイト全体の設定 */
/*-----------------------------------------*/
body {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.1em;
}

h1, h2, h3, h4 {
  color: #111;
}

p {
  color: #333;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.wrap_text {
  width: 80%;
  margin: 0 auto;
}

.Subheading {
  text-align: center;
  font-size: 24px;
  font-family: "Merriweather", serif;
}

/*------------------------------------------------*/
/* 黒背景の幅と色の設定 */
/*-------------------------------------------------*/
.bg90 {
  background-color: #0d0015;
  width: 90%;
  margin: 0 auto;
}

.bg80 {
  background-color: #0d0015;
  width: 80%;
  margin: 0 auto;
}

.bg70 {
  background-color: #0d0015;
  width: 70%;
  margin: 0 auto;
}

/*-----------------------------------------------
画像と動画の設定and波の設定
-------------------------------------------------*/
#canvas-container-hero {
  max-width: 100vw;
  height: 85vh;
  background: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  position: relative;
}
#canvas-container-hero #sineCanvas {
  position: absolute;
  bottom: -1px;
  right: 0;
}

#canvas-container-middle {
  width: 100%;
  height: 414px;
  background-image: url(../images/sakana.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
#canvas-container-middle #sineCanvas1 {
  position: absolute;
  bottom: -20px;
  right: 0;
}

#canvas-container-under {
  max-width: 100vw;
  height: 40vh;
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  position: relative;
}
#canvas-container-under #sineCanvas2 {
  transform: rotate(180deg);
  position: absolute;
  top: -1px;
  left: 0;
}
#canvas-container-under h3 {
  font-family: "Merriweather", serif;
  text-align: center;
  font-size: 29px;
  position: absolute;
  bottom: -26%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

/*------------------------------------------------*/
/* headerの設定 */
/*-------------------------------------------------*/
header {
  width: 100vw;
  background: #0d0015;
  height: 80px;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 999;
  border-bottom: 1px solid #fff;
}
header h1 {
  color: #fff;
  margin: 25px;
  font-family: "Merriweather", serif;
  font-size: 24px;
}

.container {
  display: flex;
  justify-content: space-between;
}
.container .itemB {
  margin: 30px 25px 0 0;
}

.sns .fa-twitter-square {
  color: #55acee;
  margin: 5px;
}
.sns .fa-instagram {
  color: #D93177;
  margin: 5px;
}

/* ハンバーガーアイコンとドロワーメニュー */
#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display: none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;
  /*線の太さ*/
  width: 30px;
  /*長さ*/
  border-radius: 3px;
  background: #fff;
  display: block;
  content: '';
  cursor: pointer;
}

#nav-open span:before {
  bottom: -8px;
}

#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;
  /*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;
  /*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  /*最前面に*/
  width: 80%;
  /*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 500px;
  /*最大幅（調整してください）*/
  height: 100%;
  background: #0d0015;
  /*背景色*/
  transition: .3s ease-in-out;
  /*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
  /*左に隠しておく*/
}

.menu_text {
  text-align: center;
  font-size: 18px;
  font-family: "Merriweather", serif;
  line-height: 3;
  margin-top: 50px;
}

.sns img {
  width: 35px;
  margin: 10px;
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;
  /*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  /*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
}

/*---------------------------------------------------------
main
----------------------------------------------------------*/
.infoBG {
  padding: 1px;
  background-color: #eee;
  margin: 80px 0 0 0;
}
.infoBG p {
  text-align: center;
  font-size: 12px;
}
.infoBG p:before {
  font-family: FontAwesome;
  content: "\f0f3";
  font-weight: bold;
  font-size: 14px;
  margin-right: 5px;
}

/* タブの設定 */
.tab_wrap {
  width: 100%;
  margin: 50px auto;
}

input[type="radio"] {
  display: none;
}

.tab_area {
  font-size: 0;
  margin: 0 10px;
}

.tab_area label {
  width: 45%;
  margin: 0 9px;
  display: inline-block;
  padding: 16px 0;
  color: #999;
  background: #ddd;
  text-align: center;
  font-size: 15px;
  font-family: "Merriweather", serif;
  cursor: pointer;
  transition: ease 0.2s opacity;
}
.tab_area label:hover {
  opacity: 0.5;
}

.panel_area {
  background: #fff;
}

.tab_panel {
  width: 100%;
  padding: 20px 0;
  display: none;
}
.tab_panel p {
  text-align: center;
  padding: 20px;
  margin: 0;
}
.tab_panel p.phot {
  padding: 50px  0 10px 0;
}

.website_thumbnail img, .grap_thumbnail img {
  border: 1px solid #111;
  width: 89%;
  padding: 0;
}
.website_thumbnail p, .grap_thumbnail p {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 18px;
}

#tab1:checked ~ .tab_area .tab1_label {
  background: #fff;
  color: #000;
}

#tab1:checked ~ .panel_area #panel1 {
  display: block;
}

#tab2:checked ~ .tab_area .tab2_label {
  background: #fff;
  color: #000;
}

#tab2:checked ~ .panel_area #panel2 {
  display: block;
}

/*------------------------------
CONTACT
---------------------------------*/
.arrow_line {
  margin-top: 100px;
}
.arrow_line ul {
  text-align: center;
}
.arrow_line li:not(:last-child):after {
  font-family: FontAwesome;
  content: "\f103";
  display: block;
  /* 前後に改行*/
  font-size: 18px;
  /*アイコンサイズ*/
  color: #0d0015;
  /*色*/
  padding: 0;
  /*余白*/
}

#top_contact h2 {
  color: #fff;
  padding: 50px 0;
}

#contact h2 {
  font-family: "Merriweather", serif;
  margin-top: 30px;
}
#contact p {
  margin: 30px 0;
}
#contact form p {
  margin-bottom: 0;
}
#contact form p:last-child {
  margin: 10px 0;
}
#contact form p span {
  font-size: 12px;
  color: #a9a9a9;
}
#contact form p .red {
  color: #e2041b;
  font-weight: bold;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea {
  border-style: none;
  border: 1px solid #0d0015;
}
#contact input[type="submit"] {
  padding: 15px 40px;
  font-size: 1.2em;
  background-color: #0d0015;
  color: #fff;
  border-style: none;
  margin-top: 10px;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea {
  width: 100%;
  max-width: 500px;
}

/*----------------------------------------
泡の文字
-----------------------------------------*/
.particletext {
  text-align: center;
  font-size: 48px;
  position: relative;
}

.particletext.bubbles > .particle {
  opacity: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  animation: bubbles 3s ease-in infinite;
  border-radius: 100%;
}

@keyframes bubbles {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translate(0, -20%);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%);
  }
}
/*-----------------------------------------
footer
-----------------------------------------*/
#top_footer {
  text-align: center;
  background-color: #0d0015;
  padding-top: 60px;
  padding-bottom: 15px;
}
#top_footer p {
  font-family: "Merriweather", serif;
  color: #fff;
  margin-bottom: 0;
}
#top_footer small {
  color: #fff;
}

/*------------------------------------
↓ blog.html ブログページの設定 ↓
-------------------------------------*/
#blog h2 {
  font-family: "Merriweather", serif;
  margin-top: 30px;
}
#blog section p:nth-child(4) {
  margin-bottom: 50px;
}

/*---------------------------------------
↓ works.html ワークスの設定
-----------------------------------------*/
.infoBG {
  position: relative;
  z-index: 100;
}

#works a {
  color: #111;
}

#works {
  position: relative;
  z-index: 50;
  padding-bottom: 40px;
}
#works:after {
  content: "";
  width: 70%;
  height: 100%;
  margin-left: -35%;
  background: url(../images/Stripe-bg.png) repeat;
  background-size: 6px 6px;
  position: absolute;
  top: -80px;
  left: 50%;
}
#works h2 {
  position: relative;
  z-index: 100;
}
#works .works_container {
  position: relative;
  z-index: 100;
}
#works article {
  margin-top: 50px;
}
#works article img {
  width: 95%;
  max-width: 800px;
  height: auto;
  margin-left: 10px;
}
#works article:last-child {
  margin-top: 200px;
}

/*# sourceMappingURL=style.css.map */
